*.dll
*.exe
WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.pdb
*.config
WindowsFormsApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.manifest
WindowsFormsApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.pdb
WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.Properties.Resources.resources
*.cache
WindowsFormsApplication1/obj/Debug/WindowsFormsApplication1.csproj.FileListAbsolute.txt
*.resources
WindowsFormsApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.suo
*.suo
TkHome/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TkHome/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TkHome/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TkHome/obj/Debug/TkHome.csproj.FileListAbsolute.txt
TkHome/bin/Debug/TkHome.dat
WindowsFormsApplication1/bin/Debug/get.txt
WindowsFormsApplication1/bin/Release/cookies.txt
WindowsFormsApplication1/bin/Release/get.txt
WindowsFormsApplication1/HttpHelper/HttpHelper.cs
WindowsFormsApplication1/Form1.cs
WindowsFormsApplication1/Form1.cs